ALERTA_URL={{ alerta_url }}
ALERTA_KEY={{ alerta_key }}
{% if alerta_host is defined %}
ALERTA_HOST={{ alerta_host }}
{% endif %}
ALERTA_EXTERNAL_URL={{ alerta_external_url|default("www.example.com/wiki/RunBook") }}
