admin-notifier:
  hosts:
    server1:
      monitor_megacli:   True
      monitor_snapshots: True
    server2:
      monitor_mdadm:     True
      urls:
        - localhost;http://127.0.0.1
        - gitlab;http://gitlab.home.lan/users/sign_in
    server3:
      monitor_mdadm:     True
    laptop:
      monitor_battery:   True
      monitor_ping:      False
  vars:
    alerta_url:          http://alerta.home.lan
    alerta_key:          my_alerta_key
    monitor_apt:         True
    monitor_diskspace:   True
    monitor_kernel:      True
    monitor_load:        True
    monitor_memory:      True
    monitor_ping:        True
    monitor_systemd:     True
    monitor_temperature: True
    traefik_auth:        foobar
