[Unit]
Description=Check megacli status and inform alerta if in failure every hours

[Timer]
OnCalendar=*-*-* *:00:00

[Install]
WantedBy=timers.target
