[Unit]
Description=Check traefik status and inform alerta if down

[Service]
Type=oneshot
ExecStart=/etc/admin-notifier/traefik

[Install]
WantedBy=multi-user.target
