[Unit]
Description=Check postgresql dumps and inform alerta if any is missing

[Service]
Type=oneshot
ExecStart=/etc/admin-notifier/postgresql-dumps

[Install]
WantedBy=multi-user.target
