{% if monitor_pings == "all" %}
{% for host in groups['all'] %}
{% if hostvars[host].monitor_ping|default(True) %}
{{ hostvars[host].monitor_ping|default(host) }}
{% endif %}
{% endfor %}
{% else %}
{% for host in monitor_pings %}
{{ host }}
{% endfor %}
{% endif %}
