PATH=/bin:/usr/bin:/sbin:/usr/sbin

{% if monitor_ping|default(True) %}
# Heartbeat monitor
* * * * * root /etc/admin-notifier/ping

{% endif %}
# Check apt new packages
0 10 * * * root /etc/admin-notifier/apt {{ apt_service|default("alerta") }}

# Check loaded kernel
0 12 * * * root /etc/admin-notifier/kernel {{ kernel_service|default("alerta") }}

{% if is_x1|default(False) %}
# Check battery level
*/15 * * * * root /etc/admin-notifier/battery {{ battery_service|default("alerta") }}

{% endif %}
# Check load level
*/10 * * * * root /etc/admin-notifier/load {{ load_service|default("alerta") }}

# Check free memory
*/10 * * * * root /etc/admin-notifier/memory {{ memory_servicve|default("alerta") }}

{% if monitor_temp|default(True) %}
# Check temperature level
*/10 * * * * root /etc/admin-notifier/temperature {{ temperature_service|default("alerta") }}

{% endif %}
# Check disk usage
*/15 * * * * root /etc/admin-notifier/diskspace {{ diskspace_service|default("alerta") }}

{% if sw_raid|default(False) %}
# Check soft raid arrays
0 * * * * root /etc/admin-notifier/mdadm {{ mdadm_service|default("alerta") }}

{% endif %}
{% if hw_raid|default(False) %}
# Check hard raid arrays
0 * * * * root /etc/admin-notifier/megacli {{ megacli_service|default("alerta") }}

{% endif %}
# Check systemd failed units
*/15 * * * * root /etc/admin-notifier/systemd {{ systemd_service|default("alerta") }}

{% if postgres_monitoring|default(False) %}
*/10 * * * * root /etc/admin-notifier/postgresql {{ postgres_service|default("alerta") }}
0 4 * * * root /etc/admin-notifier/postgresql-dumps {{postgres_dumps_service|default("alerta") }}

{% endif %}
{% if mysql_monitoring|default(False) %}
*/10 * * * * root /etc/admin-notifier/mysql {{ mysql_service|default("alerta") }}
0 4 * * * root /etc/admin-notifier/mysql-dumps {{mysql_dumps_service|default("alerta") }}

{% endif %}
{% if mycomposer_services is defined %}
# Check traefik
*/10 * * * * root /etc/admin-notifier/traefik {{ traefik_service|default("alerta") }}

{% endif %}
{% if http_monitor|default("") == inventory_hostname %}
# Check on websites list every 10 minutes
*/10 * * * * root /etc/admin-notifier/monitor-urls {{ monitor_urls_service|default("alerta") }}

{% endif %}
{% if monitor_snapshots is defined %}
# Check snapshots every day at 4:00
0 4 * * * root /etc/admin-notifier/monitor-snapshots {{ monitor_snapshots_service|default("alerta") }}
{% endif %}
